html {
	scroll-behavior: smooth;
	scroll-padding-top: 66.73px; /* to check navbar height use developer tools of google */
  }

*{
	margin: 0px !important;
	padding: 0px !important;
	box-sizing: border-box !important;
	font-family: 'Comfortaa', cursive !important;
}

nav>div>div>a>img{
	height: 50px;
	width: 50px;
}

#div-img-logo{
 	height: 60px;
 	width: 60px;
 	border: solid 5px #090910;
 	border-color: #090910 !important;
 	background-color: #c0c0c0;
 	border-radius: 50px;
}

#nav-bg{
	background-color: #3b2a1c;
}



/*#landing-page-1{
	min-height: auto;
	min-width: auto;	
}*/

#landing-page-80vh{
	min-height: 93vh;
	border-bottom: solid black 2px;
	border-top: solid black 2px;
	background-image: url(./images/landing-page-bg-3.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom left;
}


#landing-page-vh{
	min-height: 84vh !important;
	background-color: #000000;
}

a{
	color: #D3D3D3 !important;
}

#landing-page-bg-gray{
	background-color: rgba(0,0,0, 0.6) !important;
}

#p1{
	color: #A5A58D !important;
}

#h1, #h3{
	color: #FFE8D6 !important;
}

@media (min-width:  992px){
	#h1{
		font-size: 350% !important;
	}
	#h3{
		font-size: 180% !important;
	}
	#h4{
		font-size: 140% !important;
	}
	#aboutme-h4{
		font-size: 130% !important;
	}
	#aboutme-h1{
		font-size: 250% !important;
	}
	#latest-proj-h1{
	font-size: 250% !important;
}
	#landing-page-vh{
		min-height: 93vh !important;
	}
	#landing-page-80vh{
		min-height: 80vh;
	}
	#h1-contact{
		font-size: 250% !important;
	}
	#contact-btn{
		border: 1px solid crimson !important;
		padding: 12px !important;
		padding-left: 29px !important;
		padding-right: 29px !important;
		text-decoration: none !important;
		background-color: #dc2f02 !important;
		color: dc2f02 !important;
		border-radius: 5px !important;
		font-size: 14px !important;
	}
	#dlcv{
		border: 1px solid crimson !important;
		padding: 11px !important;
		text-decoration: none !important;
		background-color: #dc2f02 !important;
		color: dc2f02 !important;
		border-radius: 3px !important;
		font-size: 15px !important;
	}
}

#my-image{
	filter: brightness(78%);
}

#my-image:hover{
	filter: brightness(90%);
}

#about-me{
	min-height: 60vh;
	background-color: #080708;
	margin-top: 1px !important;
}

#about-me-box-bg{
	border: 2px solid #9e2a2b;
	border-radius: 4px;
}

#dlcv{
	border: 1px solid crimson !important;
	padding: 11px !important;
	text-decoration: none;
	background-color: #dc2f02;
	color: dc2f02 !important;
	border-radius: 3px;
	font-size: 12px;
}

#my-projects{
	min-height: 70vh;
	background-color: #00171f;
}

#proj-div{
	background-color: #090910;
	border-radius: 4px;
}
#proj-div:hover{
	transform: scale(1.2);
	filter: brightness(120%);
}

#proj-div > img{
	filter: brightness(85%);
}

#tools>div>div>img{
	width: 150px !important;
	transition: transform .2s; /* Animation */
}

#tools>div>div>img:hover{
	transform: scale(1.5);
	filter: brightness(110%);
}

#tools{
	background-image: linear-gradient(
		to bottom,
		#081016 0%,
		#081016 82%,
		#00171f 50%,
		#090910 100%
	);
	margin-top: 1px !important;
	min-height: 130vh;
}

#contact-me-padding-top{
	padding-top: 50px !important;
}



#cntact-me-bg{
	background-color: #081016 !important;
	border: solid #111f29 1px;
	min-height: 30vh;
}

#soc-med-logo{
	height: 30px !important;
	width: 30px !important;
}

#footer{
	background-color: rgb(62, 71, 77) !important;
}

#contact-btn{
	border: 1px solid crimson !important;
	padding: 9px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	text-decoration: none;
	background-color: #dc2f02;
	color: dc2f02 !important;
	border-radius: 4px;
	font-size: 10px;
}

#download-icon{
	height: 20px;
	width: 20px;
}



