*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#img-logo{
	width: 40px;
	height: 40px;
}

.nav-item{
	font: Black !important;
}

@media (min-width: 820px){
#nav-padding{
	padding-right: 15rem !important;
	padding-left: 15rem !important;
	background-color: #e6c6ae;
	}

}

/*#nav-padding{
	padding-left: 2rem !important;
	padding-right: 2rem !important;

}*/

#main-margin{
	
}


#landing-page{
	min-height: 50vh;
}

#landing-page .row{
	width: 40px;
	height: 40px;
}

#latest-projects{
	min-height: 50vh;
}

#about-me{
	min-height: 40vh;
	background-color: #2f404a !important;

}

.social-media{
	height: 30px;
	width: 30px;
}

body{
	font-family: 'Comfortaa', cursive;
	color: #f78a45;
}

#dlcv{
	border: 2px solid;
	background-color: #f78a45; !important;
	padding: 3px !important;
	color: #0d0b09;
	font-weight: bold;
}

.card{
	background-color: #332f2c !important;
}

footer{
	background-color: #f78a45;
	margin-top: 3rem;
}

#contact1{
	min-height: 20vh;
	background-color: #2f404a !important;
}

#contactbutton{
	border: 1px solid !important;
	border-color: black !important;
	padding: 15px !important;
	background-color: whitesmoke;
	text-decoration: none;
}












